/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background: linear-gradient(60deg, #FFD1A9, #FFB3C1, #D4A5E4);
}

h1{
  text-align: center;
  color: #333;
  margin: 30px 0;
}

.container {
  width: 600px;
  height: 600px;
  background-color: red;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr); 
  gap: 1em;  
}

.card {
  width: 120px; 
  height: 120px; 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  animation: 2s hendelrotate linear;
}


@keyframes hendelrotate {
  0% { transform: rotateY(180deg); }
  100% { transform: rotateY(0deg); }
}

.card img {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
  transform: scale(0);
  animation: 2s handelscale linear;
}

@keyframes handelscale {
  0%,70% { transform: scale(0); }
  100% { transform: scale(1); }
}

.card.active{
  transform: rotateY(0deg);
}
.card.active img{
  transform: scale(1);
}
.card.active .corect{
  background-color: green;
}
.card.active .wrong{
  background-color: red;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(60deg, #FFD1A9, #FFB3C1, #D4A5E4);
}

h1 {
  text-align: center;
  color: #333;
  margin: 30px 0;
}

.container {
  width: 600px;
  height: 600px;
  background-color: red;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.card {
  width: 120px;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform-style: preserve-3d;
  /* transform: rotateY(); */
  transition: transform 0.6s;
}

.card.active {
  transform: rotateY(1deg);
}

.card img {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
  transform: scale(0);
  transition: transform 0.6s;
}

.card.active img {
  transform: scale(1);
}

.card.corect {
  background-color: green;
}

.card.wrong {
  background-color: red;
}

@keyframes hendelrotate {
  0% { transform: rotateY(180deg); }
  100% { transform: rotateY(0deg); }
}

@keyframes handelscale {
  0%, 70% { transform: scale(0); }
  100% { transform: scale(1); }
}
